.wrapper {
    background-color: #F5EDE7;
}

/* header styles */

.header {
    display: flex;
    justify-content: space-between;
}

.logo_nav_block {
    display: flex;
}

.logo_img {
    padding: 16px 16px 16px 24px;
}

.nav_list {
    display: flex;
    padding-top: 54px;
}

.nav_item {
    margin-right: 16px;
}

.nav_item:last-child {
    margin-right: 0;
}

.nav_link {
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 13px;
    color: #000000;
}

.registration {
    padding: 32px 24px 16px 0;
}    

.reg_list {
    display: flex;
}

.reg_item {
    margin-right: 16px;
}

.reg_item:last-child {
    margin-right: 0;
    margin-top: -5px;
}

.reg_text {
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #000000;
}

/* fresh styles */

.fresh {
    display: flex;
    background-color: #FFC3A0;
}

.fresh_left {
    padding: 83px 83px 24px 16px ;
}

.left_title {
    margin-bottom: 33px;
    font-family: Roboto;
    font-size: 78px;
    font-weight: 400;
    line-height: 90px;
    text-align: left;
    color: #000000;
}

.left_text {
    margin-bottom: 21px;
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
}

.left_btn {
    padding: 12px 73px;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
    background-color: inherit;
    /* outline: none; */
    border-radius: 35px;
    border: solid 1px #000000;

}

.right_img {
    padding: 24px 16px 24px 0;
}