.wrapper {
  background-color: #f5ede7;
}

/* header styles */

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000000;
}

.logo_nav_block {
  display: flex;
}

.logo_img {
  padding: 16px 16px 16px 24px;
}

.nav_list {
  display: flex;
  padding-top: 54px;
}

.nav_item {
  margin-right: 16px;
}

.nav_item:last-child {
  margin-right: 0;
}

.nav_link {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 13px;
  color: #000000;
}

.registration {
  padding: 32px 24px 16px 0;
}

.reg_list {
  display: flex;
}

.reg_item {
  margin-right: 16px;
}

.reg_item:last-child {
  margin-right: 0;
  margin-top: -5px;
}

.reg_text {
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #000000;
}

/* fresh styles */

.fresh {
  display: flex;
  background-color: #ffc3a0;
}

.fresh_left {
  padding: 83px 83px 24px 16px;
}

.left_title {
  margin-bottom: 33px;
  font-family: Roboto;
  font-size: 78px;
  font-weight: 400;
  line-height: 90px;
  text-align: left;
  color: #000000;
}

.left_text {
  margin-bottom: 21px;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}

.left_btn {
  padding: 12px 73px;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
  text-align: center;
  background-color: inherit;
  border-radius: 35px;
  border: solid 1px #000000;
}

.right_img {
  padding: 24px 16px 24px 48px;
}

/* works styles */

.works {
  padding: 64px 16px 81px 16px;
}

.works_title {
  font-family: Roboto;
  font-size: 43px;
  font-weight: 400;
  line-height: 60px;
  text-align: center;
  color: #000000;
}

.works_list {
  display: flex;
}

.cards_item {
  margin-right: 28px;
}

.cards_item:last-child {
  margin-right: 0;
}

.cards_img_wrapper {
  display: flex;
  justify-content: center;
}

.cards_img {
  width: 99px;
  height: 99px;
  margin-bottom: 16px;
}

.cards_title {
  font-family: Roboto;
  font-size: 27px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

.cards_text {
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #000000;
}

.works_btn_wrapper {
  display: flex;
  justify-content: center;
}

.works_btn,
.baked_btn {
  padding: 12px 73px;
  margin-top: 64px;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
  text-align: center;
  color: #0126de;
  border: solid 1px #0126de;
  border-radius: 35px;
  background-color: inherit;
}

/* baked styles */

.baked {
  display: flex;
  padding: 72px 16px;
}

.baked_left {
  margin-right: 48px;
}

.baked_right {
  padding-top: 111px;
}

.baked_text {
  margin-bottom: 23px;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 400;
  line-height: 56px;
  text-align: left;
  color: #000000;
}

.baked_btn {
  margin-top: 0;
}

/* pastry styles */

.pastry {
  margin-bottom: 65px;
}

.pastry_title {
  font-family: Roboto;
  font-size: 39px;
  font-weight: 400;
  line-height: 56px;
  text-align: center;
}

.pastry_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pastry_sub_title {
  width: 120px;
  font-family: Roboto;
  font-size: 27px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  color: #000000;
}

.pastry_text {
  margin-bottom: 16px;
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}

.pastry_btn {
  margin-bottom: 24px;
  padding: 12px 73px;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
  text-align: center;
  color: #0126de;
  border: solid 1px #0126de;
  border-radius: 35px;
  background-color: inherit;
}

/* tasty cards styles */

.tasty_cards {
  padding: 16px;
}

.tasty_cards_list {
  display: flex;
}

.tasty_cards_item {
  margin-right: 16px;
  padding: 25px 25px 16px 25px;
  border-radius: 20px;
  border: solid 1px #000000;
}

.tasty_cards_item:last-child {
  margin-right: 0;
}

.tasty_cards_img_block {
  display: flex;
  justify-content: center;
}

.tasty_cards_title {
  padding: 0 20px;
  font-family: Roboto;
  font-size: 57px;
  font-weight: 400;
  line-height: 68.55px;
  text-align: center;
  color: #000000;
}

.tasty_cards_text {
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.01px;
  text-align: center;
  color: #000000;
}

/* comics styles */

.comics {
  padding: 16px 180px;
}

.comics_top_block {
  display: flex;
  margin-bottom: 48px;
}

.comics_bottom_block {
  display: flex;
}

.comics_left_top {
  margin-right: 48px;
}

.comics_title {
  margin: 47px 0 26px 0;
  text-transform: uppercase;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #000000;
}

.comics_text {
  margin-bottom: 22px;
  font-family: Roboto;
  font-size: 26px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  color: #000000;
}

.comisc_btn {
  padding: 12px 73px;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
  text-align: center;
  color: #000000;
  background-color: inherit;
  border-radius: 35px;
  border: 1px solid #000000;
}

.comics_left_bottom {
  margin-right: 48px;
}

/* tarlabakes styles */

.tarlabakes_title {
  margin: 65px 0 15px 0;
  font-family: Roboto;
  font-size: 43px;
  font-weight: 400;
  line-height: 60px;
  text-align: center;
  color: #000000;
}

.tarlabakes_img_block {
  display: flex;
  justify-content: center;
}

.tarlabakes_img {
  margin-right: 24px;
}

.tarlabakes_img:last-child {
  margin-right: 0;
}

/* community styles | footer styles */

.community {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 33px;
  margin-bottom: 64px;
}

.community_title {
  font-family: Roboto;
  font-size: 50px;
  font-weight: 400;
  line-height: 72px;
  text-align: center;
  color: #000000;
  margin-bottom: 14px;
}

.community_text {
  font-family: Roboto;
  font-size: 31px;
  font-weight: 400;
  line-height: 43px;
  text-align: center;
  color: #000000;
  margin-bottom: 17px;
}

.community_btn {
  padding: 7px 139px;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  line-height: 72px;
  text-align: center;
  color: #000000;
  border-radius: 10px;
  border: 1px solid #000000;
  background-color: inherit;
}

.footer_block {
  display: flex;
  justify-content: space-around;
}

.column {
  display: flex;
  flex-direction: column;
}

.footer_title {
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  line-height: 36.02px;
  text-align: left;
  color: #000000;
  margin-bottom: 24px;
}

.footer_text {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #000000;
  margin-bottom: 4px;
}

.social_link {
  font-family: Roboto;
  font-size: 23px;
  font-weight: 400;
  line-height: 36.02px;
  text-align: left;
  color: #000000;
}

.social_block {
  margin-top: 24px;
}
